body {
    padding: 2rem;
}

h1 {
    line-height: 1;
    text-transform: capitalize;
}

ul.top-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.navbar {
    display: inline;
}

footer.info-footer {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}