body {
  padding: 2rem;
}

h1 {
  line-height: 1;
  text-transform: capitalize;
}

ul.top-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.navbar {
  display: inline;
}

footer.info-footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

button.radio-button {
}

button.active-button {
  background-color: #afa548;
  color: black;
}

div.radio-container-outer {
  background-color: rgb(65, 65, 65);
  width: 1000px;
  height: 240px;
}

div.transponder-container-outer {
  background-color: rgb(65, 65, 65);
  width: 1000px;
  height: 240px;
}

div.radio-mode-dial {
  width: 80px;
  height: 80px;
  border: 2px solid #FFF;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: all 0.35s ease-in-out 0s;
}

div.radio-mode-dial-line {
  width: 2px;
  height: 40px;
  background: #FFF;
}

.position-relative {
  position: relative !important;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
